---
layout: default
---

{% for post in paginator.posts %}
<div class="post" id="post-{{ post.index }}">

  {% include datebox.html date=post.date %}

  <h2>
    <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ post.title }}</a>
  </h2>
  <div class="author">{{ post.author }}</div>

  <div class="entry">
    {{ post.content }}
  </div>
  {% include metadata.html tags=post.tags %}
</div>
<div class="hr"><hr></div>
{% endfor %}

<div class="navigation">
  {% if paginator.next_page %}
  <div class="next"><a href="{{ paginator.next_page | prepend: "/page/" | prepend: site.baseurl }}">« Older Entries</a></div>
  {% endif %}
  {% if paginator.previous_page %}
  <div class="previous"><a href="{{ paginator.previous_page | prepend: "/page/" | prepend: site.baseurl }}">Newer Entries »</a></div>
  {% endif %}
</div>