<div id="footer">
  <div id="subscribe">
    <a href="{{ "/feed/" | prepend: site.baseurl }}" data-proofer-ignore="true">Subscribe RSS</a>
  </div>
  <div class="clear"></div>
  <div class="legal">Copyright &copy; 2012 Profound Guild</div>
  <div class="credit">Theme by <a href="http://michael.tyson.id.au/wordpress" target="_blank">Michael Tyson</a>.<br /><br />Proudly hosted by <a href="https://github.com"><img src="{{ "/img/github-footer-logo.png" | prepend: site.baseurl }}" width="100" height="30" alt="GitHub • Social coding"></a></div>
</div>