<div id="menu">
  <ul>
    <li class="page_item current_page_item"><a href="/">Home</a></li>
    <!-- <li class="page_item page-item-100"><a href="http://www.profoundguild.com/forums/application.php">Apply</a></li> -->
    <!-- <li class="page_item page-item-7"><a href="http://www.profoundguild.com/forums/">Forums</a></li> -->
    <li class="page_item page-item-21"><a href="http://www.wowprogress.com/guild/eu/jaedenar/Profound" target="_blank">Progress</a></li>
    <li class="page_item page-item-35"><a href="http://www.warcraftlogs.com/guilds/731" target="_blank">Logs</a></li>
    <li class="page_item page-item-403"><a href="http://www.youtube.com/user/ProfoundGuild">YouTube</a></li>
    <li class="page_item page-item-25"><a href="http://twitter.com/ProfoundGuild">@ProfoundGuild</a></li>
  </ul>
  <div class="clear"></div>
</div>