<ul>
  <li id="text-3" class="widget widget_text">
    <h2 class="widgettitle">Raiding Ceased</h2>
    <div class="textwidget">
      <p>
        <a class="applybtn" href="/apply" title="Applications to Join">Why?</a>
      </p>
      <!-- <ul style="vertical-align: middle">
        <li>
          <img src="{{ "/img/icons/classes/small/druid.png" | prepend: site.baseurl }}" alt="Druid" />
          <img src="{{ "/img/icons/classes/small/deathknight.png" | prepend: site.baseurl }}" alt="Death Knight" />
          <img src="{{ "/img/icons/classes/small/hunter.png" | prepend: site.baseurl }}" alt="Hunter" />
          <img src="{{ "/img/icons/classes/small/rogue.png" | prepend: site.baseurl }}" alt="Rogue" />
          <img src="{{ "/img/icons/classes/small/warrior.png" | prepend: site.baseurl }}" alt="Warrior" />
          <img src="{{ "/img/icons/classes/small/shaman.png" | prepend: site.baseurl }}" alt="Shaman" />
          <img src="{{ "/img/icons/classes/small/mage.png" | prepend: site.baseurl }}" alt="Mage" />
          <img src="{{ "/img/icons/classes/small/monk.png" | prepend: site.baseurl }}" alt="Monk" />
          <img src="{{ "/img/icons/classes/small/warlock.png" | prepend: site.baseurl }}" alt="Warlock" />
          <img src="{{ "/img/icons/classes/small/priest.png" | prepend: site.baseurl }}" alt="Priest" />
          <img src="{{ "/img/icons/classes/small/paladin.png" | prepend: site.baseurl }}" alt="Paladin" />
          <br />Recruiting everything!
        </li>
      </ul> -->
    </div>
  </li>
  <li id="text-5" class="widget widget_text">
    <div class="textwidget">
      <div style="text-align: center">
        <a href="http://www.wowprogress.com/guild/eu/jaedenar/Profound">
          <img alt="WoW Guild Rankings" src="http://www.wowprogress.com/guild_img/835875/out/type.site" border="0" width="169" height="195"/>
        </a>
      </div>
    </div>
  </li>
  <!-- <li id="categories-3" class="widget widget_categories">
    <h2 class="widgettitle">Categories</h2>
    <ul>
      <li class="cat-item cat-item-13"><a href="http://www.profoundguild.com/category/fun/" title="View all posts filed under Fun">Fun</a></li>
      <li class="cat-item cat-item-7"><a href="http://www.profoundguild.com/category/news/guild-news/" title="View all posts filed under Guild">Guild</a></li>
      <li class="cat-item cat-item-4"><a href="http://www.profoundguild.com/category/news/" title="View all posts filed under News">News</a></li>
      <li class="cat-item cat-item-1"><a href="http://www.profoundguild.com/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a></li>
      <li class="cat-item cat-item-5"><a href="http://www.profoundguild.com/category/news/website-news/" title="View all posts filed under Website">Website</a></li>
    </ul>
  </li> -->
  <!-- <li id="search-3" class="widget widget_search">
    <form method="get" id="searchform" action="http://www.profoundguild.com/">
      <div>
        <input type="text" value="search" onfocus="if (this.value == 'search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search';}"  name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Go" />
      </div>
    </form>
  </li> -->
  <!-- <li id="text-6" class="widget widget_text">
    <div class="textwidget">
      <div class="fb-like-box" style="display:block; width: 220px; height:75px" data-href="http://www.facebook.com/pages/Profound-Guild/259362157447138" data-width="220" data-height="75" data-show-faces="false" data-stream="false" data-header="false"></div>
    </div>
  </li> -->
</ul>