---
index:  208
title:  "Al&#8217;Akir is Down"
author: Sleuth
date:   2011-06-13 22:36:57
categories: [Guild, News]
tags:   [achievement, kill shot, progression, throne of the four winds]
---
<p>We&#8217;ve spent somewhere in the region of 40-45 tries on Al&#8217;Akir, with people in different specs, talents, and tactics, coming to around 7 or 8 hours worth of practice.</p>
<p>After grilling and scrutinising every part of the encounter, we managed to get one magical attempt nailed and took him all the way down to zero, with myself bubbled to the very end.</p>
<p>We clearly need more work on this boss, but he&#8217;s another box ticked. Congratulations to everybody who took part &#8211; it was an &#8220;experience&#8221;!</p>
{% include frameimage.html index=209 caption="New Orleans is now much safer" alt="Al'Akir Kill Shot" width="300" height="168" url="/uploads/2011/06/WoWScrnShot_061311_220747.jpg" previewurl="/uploads/2011/06/WoWScrnShot_061311_220747-300x168.jpg" %}
{% include frameimage.html index=210 caption="We can&#39;t spell" alt="Al'Akir Pose Shot" width="300" height="168" url="/uploads/2011/06/WoWScrnShot_061311_221741.jpg" previewurl="/uploads/2011/06/WoWScrnShot_061311_221741-300x168.jpg" %}
