---
index:  169
title:  "Cho&#8217;gall Down!"
author: Sleuth
date:   2011-04-19 00:26:25
categories: [Guild, News]
tags:   [achievement, bastion of twilight, cho'gall, kill shot, progression]
---
<p>We&#8217;ve been banging our head against the wall on this guy for two weeks. Multiple 6% wipes and lots of stress with disconnects and AFKs had us at his mercy, and almost had me begging the boss for a swift death.</p>
<p>But, at last, tonight we managed to kill him. We took 2 people outside the guild, which feels like we didn&#8217;t deserve it much, but we got the achievement so who&#8217;s counting?</p>
{% include frameimage.html index=171 caption="Zero heads are better than two" alt="Cho'gall Kill Shot" url="/uploads/2011/04/WoW-2011-04-18-23-41-37-94.png" previewurl="/uploads/2011/04/WoW-2011-04-18-23-41-37-94-300x168.png" %}
<p>We took a screenshot pose of the boss too, but he started fading just as we&#8217;d lined up for it. Here&#8217;s two screenshots, with and without him.</p>
{% include frameimage.html index=172 caption="Now you see him" alt="Cho'gall Pose 1" url="/uploads/2011/04/Chogall-Pose-1.jpg" previewurl="/uploads/2011/04/Chogall-Pose-1-300x168.jpg" %}
{% include frameimage.html index=173 caption="... now you don&#39;t!" alt="Cho'gall Pose 2" url="/uploads/2011/04/Chogall-Pose-2.jpg" previewurl="/uploads/2011/04/Chogall-Pose-2-300x168.jpg" %}
<p>Well done everybody! After spending what seems to be like an eternity on him, we can now start heroic modes, yay!</p>
