---
index:  121
title:  "Valiona &#038; Theralion Dead"
author: Sleuth
date:   2011-03-30 09:41:25
categories: [Guild, News]
tags:   [bastion of twilight, progression, valiona &amp; theralion]
---
<p>Wow, this was an incredibly easy fight. We spent one late night clearing up to these two and learned some tactics, then returned last night for less than 10 wipes for the kill.</p>
<p>But, we were so intent on killing something else we rushed off and forgot a screenshot. Typical, huh?</p>
<p>When Wowprogress finally updates, we should be able to show it on there, but until then, you will just have to do with this screenshot of the achievement:</p>
{% include frameimage.html index=123 caption="Substitute for Kill shot ;-)" padsize="small" height=57 alt="Valiona &amp; Theralion Guild Achievement" url="/uploads/2011/03/ValionaTheralionAchievement.png" previewurl="/uploads/2011/03/ValionaTheralionAchievement-300x57.png" %}
<p>Next time we&#8217;re here we promise to take a screen shot!</p>
<p>EDIT: Pose shot!</p>
{% include frameimage.html index=145 caption="Delayed screenshot!" alt="Valiona &amp; Theralion Pose Shot" url="/uploads/2011/03/WoWScrnShot_040411_230229.jpg" previewurl="/uploads/2011/03/WoWScrnShot_040411_230229-300x168.jpg" %}
