---
index:  84
title:  "Halfus Wyrmbreaker Down!"
author: Sleuth
date:   2011-02-16 00:13:06
categories: [Guild, News]
tags:   [blackwing descent, halfus wyrmbreaker, kill shot, progression]
---
<p>After only 5 wipes, never attempting this boss before, we downed <a href="http://www.wowhead.com/npc=44600" target="_blank">Halfus Wyrmbreaker</a> tonight and bagged some <span style="text-decoration: line-through;">much needed</span> blasted Shaman loot.</p>
{% include frameimage.html index = 85 caption = "Whipped" alt = "Halfus Wyrmbreaker Kill Shot" width="300" height="168" url = "/uploads/2011/02/WoWScrnShot_021511_212657.jpg" previewurl = "/uploads/2011/02/WoWScrnShot_021511_212657-300x168.jpg" %}
<p>We moved on to attempt <a href="http://www.wowhead.com/npc=41442" target="_blank">Atramedes</a> since he sounded (get it?) quite fun. Two wipes and we were getting the hang of it, but called it early to give everyone a well-deserved break.</p>
{% include frameimage.html index = 86 caption = "Broken" alt = "Halfus Wyrmbreaker Pose" width="300" height="168" url = "/uploads/2011/02/WoWScrnShot_021511_212853.jpg" previewurl = "/uploads/2011/02/WoWScrnShot_021511_212853-300x168.jpg" %}
<p>The ball has started rolling really fast now, and I hope we can be done with normal modes by the end of March to move onto the more challenging fights. Bring it!</p>
