---
index:  215
title:  "Nefarian Down, Content Cleared"
author: Sleuth
date:   2011-06-16 22:52:56
categories: [Guild, News]
tags:   [blackwing descent, kill shot, nefarian, progression]
---
<p>What a trip this has been. So far we&#8217;ve had more drama than an Eastenders Christmas Special, and such a huge turnover of members that we should probably change our name.</p>
<p>The goal was to clear Cataclysm raid bosses before the next content patch &#8211; and we did it, with apparently only 1 more raid night to spare.</p>
<p>WELL DONE you bunch of awesome people, and thanks for being here through my stress and rants. You all deserve a cookie.</p>
{% include frameimage.html index=216 caption="And Stay Down!" alt="Nefarian Kill Shot" url="/uploads/2011/06/WoWScrnShot_061611_210844.jpg" previewurl="/uploads/2011/06/WoWScrnShot_061611_210844-300x168.jpg" %}
{% include frameimage.html index=217 caption="Defended" alt="Nefarian Pose Shot" url="/uploads/2011/06/WoWScrnShot_061611_211522.jpg" previewurl="/uploads/2011/06/WoWScrnShot_061611_211522-300x168.jpg" %}
<p>Firelands, here we come!</p>
