---
index:  316
title:  "Deathwing is Down, Heroics Unlocked"
author: Sleuth
date:   2011-12-09 10:29:11
categories: [Guild, News]
tags:   [achievement, deathwing, dragon soul, kill shot, progression]
---
<p>We finally got our full 10man team together last night and managed to kill Deathwing in the second week of release. It really should have been Deathwing on Monday and heroic Morchok tonight, but shit happens and that&#8217;s where we&#8217;re at now.</p>
{% include frameimage.html index=317 caption="Jaw-droppingly Fantastic!" alt="Deathwing Kill Shot" width="300" height="168" url="/uploads/2011/12/WoWScrnShot_120811_213154.jpg" previewurl="/uploads/2011/12/WoWScrnShot_120811_213154-300x168.jpg" %}
<p>We have the obligatory pose shot too, which we took while in an audience with Thrall.</p>
{% include frameimage.html index=318 caption="Dude, you on steroids?" alt="Deathwing Pose Shot" width="300" height="168" url="/uploads/2011/12/WoWScrnShot_120811_213705.jpg" previewurl="/uploads/2011/12/WoWScrnShot_120811_213705-300x168.jpg" %}
<p>It&#8217;s pretty quick to clear Dragon Soul at this point but I&#8217;m sure that will change when we get to do our first heroic. For this week only we can relax and put our feet up. I just had surgery so I know that&#8217;s what I&#8217;ll be doing!</p>
