---
index:  305
title:  "Spine of Deathwing is Down!"
author: Sleuth
date:   2011-12-01 23:11:44
categories: [Guild, News]
tags:   [dragon soul, hagara, kill shot, morchok, progression, spine of deathwing, ultraxion, warmaster blackhorn, yor'sahj, zon'ozz]
---
<p>After 9 manning the first 4 bosses last night (while I went to a <a href="http://www.skrillex.com/">Skrillex</a> gig, oh yes!) then killing <a href="http://www.wowhead.com/npc=55294/ultraxion">Ultraxion</a> when I got back home, we left with a few tries on <a href="http://www.wowhead.com/npc=56427">Warmaster Blackhorn</a> getting to the second phase on the first try.</p>
<p>We returned tonight for some more lootship action and finely tuned the loosely planned tactic for the kill!</p>
{% include frameimage.html index=306 caption="Sailing Away" alt="Warmaster Blackhorn Kill Shot" width="300" height="168" url="/uploads/2011/12/WoWScrnShot_120111_210934.jpg" previewurl="/uploads/2011/12/WoWScrnShot_120111_210934-300x168.jpg" %}
<p>So, on to the Spine of Death Wing to see how far we would get. I honestly didn&#8217;t think we would have the time on him tonight, since we needed to stick somewhat to our raid end time. However, on our final &#8220;last try&#8221; we got it done and nerdgasms were a-plenty!</p>
{% include frameimage.html index=307 caption="Thrall-beam Success!" alt="Spine of Death Wing Pose Shot" width="300" height="168" url="/uploads/2011/12/WoWScrnShot_120111_224438.jpg" previewurl="/uploads/2011/12/WoWScrnShot_120111_224438-300x168.jpg" %}
<p>Just t&#8217;old Neltharion left to kill and we are on heroic modes. <a href="http://www.youtube.com/watch?feature=player_detailpage&amp;v=WSeNSzJ2-Jw#t=39s">OH MY GOSH</a>!</p>
