---
index:  299
title:  "Baleroc Heroic Down!"
author: Sleuth
date:   2011-10-20 23:56:13
categories: [Guild, News]
tags:   [achievement, baleroc, firelands, heroic, kill shot, progression]
---
<p>We took down Baleroc heroic tonight with some very frustrating 3-4% wipes, hitting the enrage purely because of deaths bringing the overall DPS down.</p>
<p>A very intensive fight, given that at any time something can go hugely wrong. 2 out of 3 healers with the debuff? Check. Someone died on a shard? Check. We have all the luck.</p>
{% include frameimage.html index=300 caption="Gate: Unlocked!" alt="Baleroc Heroic Kill Shot" width="300" height="168" url="/uploads/2011/10/WoWScrnShot_102011_232853.jpg" previewurl="/uploads/2011/10/WoWScrnShot_102011_232853-300x168.jpg" %}
<p>Customary shot of his balls too. Very nice.</p>
{% include frameimage.html index=301 caption="Tormented" alt="Baleroc Heroic Pose Shot" width="300" height="168" url="/uploads/2011/10/WoWScrnShot_102011_233043.jpg" previewurl="/uploads/2011/10/WoWScrnShot_102011_233043-300x168.jpg" %}
<p>Just one more heroic mode boss left: Ragnaros!</p>
