---
index:  273
title:  "Beth&#8217;tilac Heroic Down"
author: Sleuth
date:   2011-09-25 18:56:53
categories: [Guild, News]
tags:   [achievement, beth'tilac, firelands, heroic, kill shot, progression]
---
<p>We&#8217;ve had some trouble with Majordomo and Rhyolith recently, for various different reasons, so we decided to try for a more technical fight to take a break from the brute force of damage and healing on the other heroic modes.</p>
<p>After attempting the boss around 21 times, we finally got the kill 4 hours into the raid, at overtime, and what a deserving kill this was.</p>
<p>Everything seemed to just click into place at the start of the fight, with no fatal mistakes and some quick footing on the Broodling poppers.</p>
{% include frameimage.html index=275 caption="Hissy Fit" alt="Beth'tilac Heroic Kill Shot" url="/uploads/2011/09/WoWScrnShot_092211_232645.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092211_232645-300x168.jpg" %}
<p>I&#8217;d like to mention especially that Leatunell and Iiowa, assisted by the famous Xävier, were the champions of the evening dealing with the most difficult parts of the fight. Overall, everybody played well, but I felt the execution of their tasks for those three was more notable. Well done!</p>
{% include frameimage.html index=276 caption="A Bit Hairy" alt="Beth'tilac Heroic Post Shot" url="/uploads/2011/09/WoWScrnShot_092211_232904.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092211_232904-300x168.jpg" %}
<p>There should be a video coming up for this kill, with full/cut Mumble audio somewhere. Look out for it soon :smile:</p>
