---
index:  280
title:  "Lord Rhyolith Heroic"
author: Sleuth
date:   2011-09-30 23:45:22
categories: [Guild, News]
tags:   [achievement, firelands, heroic, kill shot, lord rhyolith, progression]
---
<p>In only  he second attempt of the night, we managed to bring down Lord Rhyolith. I&#8217;m sort of confused why it was a problem in the first place since we quite easily took him down with a little strategy changing from the night before.</p>
<p>Anyway, he&#8217;s down, and although he&#8217;s not one of the hardest ones to kill, we did enjoy it and we&#8217;re looking forward to repeating it in the future.</p>
{% include frameimage.html index=281 caption="Rhyolithed" alt="Lord Rhyolith Heroic Kill Shot" url="/uploads/2011/09/WoWScrnShot_092911_200343.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092911_200343-300x168.jpg" %}
<p>Customary pose shot too!</p>
{% include frameimage.html index=282 caption="Giant Jelly Baby!" alt="Lord Rhyolith Heroic Pose Shot" url="/uploads/2011/09/WoWScrnShot_092911_200556.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092911_200556-300x168.jpg" %}
<p>Also! We got some random achievements (totally random&#8230;) recently. Here&#8217;s a selection of them:</p>
{% include frameimage.html index=283 caption="Ragnar-O&#39;s" alt="Ragnar-O's" url="/uploads/2011/09/WoWScrnShot_092611_215523.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092611_215523-300x168.jpg" %}
{% include frameimage.html index=284 caption="Share the Pain" alt="Share The Pain" url="/uploads/2011/09/WoWScrnShot_092911_201704.jpg" previewurl="/uploads/2011/09/WoWScrnShot_092911_201704-300x168.jpg" %}
