---
index:  235
title:  "Lord Rhyolith is Dead!"
author: Sleuth
date:   2011-07-25 23:16:24
categories: [Guild, News]
tags:   [firelands, kill shot, lord rhyolith, progression]
---
<p>I hate this boss, but we finally got him down today with only 9 guild members in the raid and a little help from a friend&#8217;s alt. He&#8217;s been driving us insane (heh) but now he&#8217;s dead we can move onto Alysrazor and get to 5/7, ready to take on Staghelm a.s.a.p!</p>
{% include frameimage.html index=236 caption="Mnngghhh... broken..." alt="Lord Rhyolith Kill Shot" width="300" height="168" url="/uploads/2011/07/WoWScrnShot_072511_223648.jpg" previewurl="/uploads/2011/07/WoWScrnShot_072511_223648-300x168.jpg" %}
<p>And for once, we took a screenshot of the corpse before running off <img src="http://www.profoundguild.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
{% include frameimage.html index=237 caption="Stomp Now." alt="Lord Rhyolith Pose Shot" width="300" height="168" url="/uploads/2011/07/WoWScrnShot_072511_223827.jpg" previewurl="/uploads/2011/07/WoWScrnShot_072511_223827-300x168.jpg" %}
