---
index:  293
title:  "Majordomo Staghelm is Dead"
author: Sleuth
date:   2011-10-20 09:38:35
categories: [Guild, News]
tags:   [achievement, firelands, heroic, kill shot, majordomo staghelm]
---
<p>This guy had a special place in our hearts for a long time, since he was the second heroic boss we tried with the advice that he was easier than the others.</p>
<p>Looking back at the kill, I can most definitely say that for a 10 man group, this guy is not as easy as you think. This is where the 10% rather than 4% raid responsibility comes in to play. We had many leaps on to orb-soakers which was unrecoverable, or leaps creating barriers between people and the boss, screwing up gathering for scorpion phases. A whole world of pain lied between us and the kill, until on Monday we finally got him with two orb phases.</p>
{% include frameimage.html index=294 caption="A Funny Caption" alt="Majordomo Staghelm Kill Shot" width="300" height="168" url="/uploads/2011/10/WoWScrnShot_101711_212935.jpg" previewurl="/uploads/2011/10/WoWScrnShot_101711_212935-300x168.jpg" %}
<p>We only have 2 more heroic modes to get now, with Baleroc almost in the bag already. We&#8217;ll be crossing our fingers, toes and nose hair for tonight&#8217;s attempts.</p>
{% include frameimage.html index=295 caption="Dead Night Elves are very satisfying to look at" alt="Majordomo Staghelm Kill Shot" width="300" height="168" url="/uploads/2011/10/WoWScrnShot_101711_213056.jpg" previewurl="/uploads/2011/10/WoWScrnShot_101711_213056-300x168.jpg" %}
