---
index:  140
title:  "Chimaeron Down"
author: Sleuth
date:   2011-04-05 09:42:21
categories: [Guild, News]
tags:   [blackwing descent, chimaeron, kill shot, progression]
---
<p>Returning to Blackwing Descent to defeat the final boss for Nefarian to spawn has a certain sense of achievement in it that I can&#8217;t deny feels quite warm and fuzzy.</p>
<p>First night on Chimaeron and we had it in the bag; not bad considering one of our new members turned 85 on Saturday, geared up and learned up like a trooper to fill our free raid slot. Well done!</p>
{% include frameimage.html index=142 caption="No More Feuds" alt="Chimaeron Kill Shot" width="300" height="168" url="/uploads/2011/04/WoWScrnShot_040411_220806.jpg" previewurl="/uploads/2011/04/WoWScrnShot_040411_220806-300x168.jpg" %}
<p>Great work on this!</p>
{% include frameimage.html index=143 caption="Mechaniro" alt="Chimaeron Pose Shot" width="300" height="168" url="/uploads/2011/04/WoWScrnShot_040411_220935.jpg" previewurl="/uploads/2011/04/WoWScrnShot_040411_220935-300x168.jpg" %}
