---
index:  76
title:  "Omnotron Defense System: Down!"
author: Sleuth
date:   2011-02-11 00:49:52
categories: [Guild, News]
tags:   [blackwing descent, kill shot, progression]
---
<p>After only half of one raid night, and half of another, we managed to take down the <a href="http://www.wowhead.com/npc=42180" target="_blank">Omnotron Defense System</a> with a great deal of ease.</p>
{% include frameimage.html index = 77 caption = "Offline" alt = "Omnotron Kill Shot" width="300" height="168" url = "/uploads/2011/02/WoWScrnShot_021011_205827.jpg" previewurl = "/uploads/2011/02/WoWScrnShot_021011_205827-300x168.jpg" %}
<p>After defeating this encounter, it&#8217;s a wonder why it was difficult in the first place. So many times we got to below 30% and something silly happened which was completely avoidable.</p>
<p>We took some time to get a customary pose-shot too:</p>
{% include frameimage.html index = 79 caption = "None-otron-anymore" alt = "Omnotron Pose Shot" width="300" height="168" url = "/uploads/2011/02/WoWScrnShot_021011_210055.jpg" previewurl = "/uploads/2011/02/WoWScrnShot_021011_210055-300x168.jpg" %}
<p>We&#8217;ve still not decided what to go for next, but we took <a href="http://www.wowhead.com/npc=41570" target="_blank">Magmaw</a> down again for loot (and he is so much harder than Omnotron!)</p>
<p>We even took a pose shot too:</p>
{% include frameimage.html index = 80 caption = "Squirmy" alt = "Magmaw Pose Shot" width="300" height="168" url = "/uploads/2011/02/WoWScrnShot_021011_225409.jpg" previewurl = "/uploads/2011/02/WoWScrnShot_021011_225409-300x168.jpg" %}
<p>As always, well done to everyone who took part. Cheers!</p>
