---
index:  350
title:  "Hagara Heroic Down"
author: Sleuth
date:   2012-02-09 15:36:28
categories: [Guild, News]
tags:   [achievement, dragon soul, hagara, heroic, kill shot, progression]
---
<p>What do you get when you mix laser tag, a power plant, and an ice cream machine together in a Blizzard development team?</p>
<p><strong>Hagara Heroic.</strong></p>
<p>lol j/k.</p>
<p>(no really)</p>
<p>She&#8217;s iced. I&#8217;m shocked.</p>
{% include frameimage.html index=353 caption="Iced that guy, to cone a phrase" alt="Hagara Heroic Kill Shot" width="300" height="168" url="/uploads/2012/02/WoWScrnShot_020812_222405.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020812_222405-300x168.jpg" %}
{% include frameimage.html index=354 caption="You&#39;re not sending ME to the COOLER!" alt="Hagara Heroic Pose Shot" width="300" height="168" url="/uploads/2012/02/WoWScrnShot_020812_222704.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020812_222704-300x168.jpg" %}
<p>&nbsp;</p>
