
---
index:  518
title:  "Heroic Mogu&#8217;shan Vaults Clear"
author: Sleuth
date:   2012-11-24 13:29:08
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, mogu'shan vaults, progression, video]
---
<p>We were so close to killing <a href="http://www.wowhead.com/npc=60400">Will of the Emperor</a> Heroic on Thursday that we scrambled ourselves into another night&#8217;s raid last night to finally net the kill on Heroic Will of the Emperor.</p>
{% include frameimage.html index=519 caption="Cutting Edge!" alt="Heroic Will of the Emperor Kill Shot" width="300" height="168" url="/uploads/2012/11/WoWScrnShot_112312_204441.jpg" previewurl="/uploads/2012/11/WoWScrnShot_112312_204441-300x168.jpg" %}
<p>Everyone involved in this tier so far has something to be proud of with our latest kill. From the first Stone Guards, Saturday Feng and Gara&#8217;jal kills, then bashing our heads against the wall with Spirit Kings; it all worked out in the end. And the progress since we pulled ourselves back together has been very fun and amazingly quick work from everyone involved!</p>
{% include frameimage.html index=520 caption="Will of the Horde!" alt="Heroic Will of the Emperor Pose Shot" width="300" height="168" url="/uploads/2012/11/WoWScrnShot_112312_204744.jpg" previewurl="/uploads/2012/11/WoWScrnShot_112312_204744-300x168.jpg" %}
