---
index:  389
title:  "Madness of Deathwing Heroic"
author: Sleuth
date:   2012-05-15 12:50:09
categories: [Guild, News]
tags:   [achievement, deathwing, dragon soul, heroic, kill shot, progression]
---
<p>It&#8217;s just like everybody says.</p>
<p>You get through Spine, and think to yourself &#8220;nothing can be more difficult than that, surely?&#8221; and you&#8217;d be right. We spent about a third of the time on Madness compared to Spine, and now it all seemed so easy.</p>
{% include frameimage.html index=390 caption="Taste the Rainbow" alt="Heroic Madness of Deathwing Kill Shot" url="/uploads/2012/05/WoWScrnShot_051412_214102.jpg" previewurl="/uploads/2012/05/WoWScrnShot_051412_214102-300x168.jpg" %}
<p>The biggest problem with this encounter is the lack of working immunity abilities for Impale. Are we always going to be limited to using a DK? I&#8217;d like my <a href="http://www.wowhead.com/spell=31850">Ardent Defender</a> to do what it says in the tooltip, and <a href="http://www.wowhead.com/spell=47788">Guardian Spirit</a> was pretty annoying too. But after all the planning, the hours of wipes, and the log browsing, we finally settled on a group and went ahead.</p>
{% include frameimagesimple.html index=393 size="full" padsize="small" caption="Heroic Madness of Deathwing Guild Achievement" alt="Heroic Madness of Deathwing Guild Achievement" url="/uploads/2012/05/DeathwingGuildAchievement.png" previewurl="/uploads/2012/05/DeathwingGuildAchievement.png" width=415 height=69 %}
<p>A very well-deserved kill from the entire guild &#8211; we would not be here without all members past and present! This is for you; all of you.</p>
{% include frameimage.html index=391 caption="Victory!" alt="Heroic Madness of Deathwing Pose Shot" url="/uploads/2012/05/WoWScrnShot_051412_214446.jpg" previewurl="/uploads/2012/05/WoWScrnShot_051412_214446-300x168.jpg" %}
