---
index:  512
title:  "Heroic Elegon"
author: Sleuth
date:   2012-11-22 12:37:30
categories: [Guild, News]
tags:   [achievement, elegon, heroic, kill shot, mogu'shan vaults, progression]
---
<p>We killed Elegon on Heroic on Monday. It wasn&#8217;t much more difficult than on normal except for some irritating spawn locations of protectors making steady DPS the occasional problem, but no worries really.</p>
{% include frameimage.html index=513 caption="Power down, bro!" alt="Elegon Heroic Kill Shot" width="300" height="168" url="/uploads/2012/11/WoWScrnShot_111912_224746.jpg" previewurl="/uploads/2012/11/WoWScrnShot_111912_224746-300x168.jpg" %}
<p>Congratulations to <strong>Darksorrów</strong> and his (now two) <a href="http://www.wowhead.com/item=87062">Elegion, the Fanged Crescent</a> axes.</p>
{% include frameimage.html index=514 caption="Nice Axe" alt="Elegon Heroic Pose Shot" width="300" height="168" url="/uploads/2012/11/WoWScrnShot_111912_224949.jpg" previewurl="/uploads/2012/11/WoWScrnShot_111912_224949-300x168.jpg" %}
