---
index:  374
title:  "Heroic Warmaster Blackhorn"
author: Sleuth
date:   2012-03-02 16:54:07
categories: [Guild, News]
tags:   [achievement, dragon soul, heroic, kill shot, progression, warmaster blackhorn]
---
{% include frameimagesimple.html index=375 alt="Heroic Warmaster Blackhorn Poster" url="/uploads/2012/03/HeroicBlackhornPoster_Exported.jpg" previewurl="/uploads/2012/03/HeroicBlackhornPoster_Exported-300x168.jpg" %}
<p>An extremely difficult boss with a lot of wipes to simple mechanics. We all did well, now let&#8217;s have a moment of silence for ourselves.</p>
{% include frameimagesimple.html index=377 alt="Heroic Warmaster Blackhorn Kill Shot" url="/uploads/2012/03/WoWScrnShot_030112_221909.jpg" previewurl="/uploads/2012/03/WoWScrnShot_030112_221909-300x168.jpg" width=300 height=168 %}
