---
index:  332
title:  "Just A Few Changes&#8230;"
author: Sleuth
date:   2012-02-02 10:32:31
categories: [Guild, News]
tags:   [achievement, dragon soul, heroic, kill shot, progression, stormscale, yor'sahj]
---
<p>&nbsp;</p>
<p><a href="{{ "/uploads/2012/02/OatmealPost_exported1.png" | prepend: site.baseurl }}"><img class="aligncenter size-full wp-image-347" title="Just A Few Changes" src="{{ "/uploads/2012/02/OatmealPost_exported1.png" | prepend: site.baseurl }}" alt="Just A Few Changes" width="450" height="1000" /></a></p>
<p>&nbsp;</p>
<p>Well, no heroic kill is complete without screenshots. Right? RIGHT?</p>
{% include frameimage.html index=341 caption="Mr Blobby" alt="Yor'sahj Heroic Kill Shot" url="/uploads/2012/02/WoWScrnShot_020112_214035.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020112_214035-300x168.jpg" %}
{% include frameimage.html index=343 caption="The Corpse Dance" alt="Yor'sahj Heroic Pose Shot" url="/uploads/2012/02/WoWScrnShot_020112_214252.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020112_214252-300x168.jpg" %}
