---
index:  383
title:  "Heroic Spine of Deathwing"
author: Sleuth
date:   2012-05-02 23:46:05
categories: [Guild, News]
tags:   [achievement, dragon soul, heroic, kill shot, progression, spine of deathwing]
---
<p>It&#8217;s always disheartening hitting a wall like this for a progression raiding guild. In fact, I would hazard a guess to say that half of the weeks since the Blackhorn kill, we&#8217;ve actually just been victim to real life issues. It has been hard to get the group set up, but tonight we had it perfect.</p>
<p>We didn&#8217;t even change tactics, and there&#8217;s the kill. That 5% nerf probably wasn&#8217;t needed &#8211; actually, I&#8217;m just gonna go out and say it: we didn&#8217;t need the nerf. It&#8217;s a shame, but say what you will.</p>
{% include frameimage.html index=384 caption="I hope you leave enough room for my fist because I&#39;m going to ram it into your stomach and break your GOD-DAMN SPINE!" alt="Heroic Spine of Deathwing Kill Shot" width="300" height="168" url="/uploads/2012/05/WoWScrnShot_050212_223119.jpg" previewurl="/uploads/2012/05/WoWScrnShot_050212_223119-300x168.jpg" %}
<p>By the way, I loved this fight.</p>
{% include frameimage.html index=385 caption="Hey, it&#39;s Thrall!" alt="Heroic Spine of Deathwing Pose Shot" width="300" height="156" url="/uploads/2012/05/HeroicSpinePoseShot.jpg" previewurl="/uploads/2012/05/HeroicSpinePoseShot-300x168.jpg" %}
