---
index:  357
title:  "Ultraxion Heroic Down"
author: Sleuth
date:   2012-02-10 17:56:09
categories: [Guild, News]
tags:   [achievement, dragon soul, heroic, kill shot, progression, ultraxion]
---
<p>Do you ever get that feeling like you&#8217;re a rodent in an experiment, pushing buttons for food within a short lapse of time from an event that a lab technician controls? You know, perhaps pressing <a href="http://www.wowhead.com/spell=106108">Heroic Will</a> two seconds before <a href="http://www.wowhead.com/spell=110068">Fading Light</a> and every 3rd rotation of some sort of <a href="http://www.wowhead.com/spell=109417">Hour of Twilight</a>?</p>
<p>I dunno, man. <em>I smell a rat</em>.</p>
<p>&nbsp;</p>
{% include frameimage.html index=361 caption="Faded Darkness" alt="Ultraxion Heroic Kill Shot" width="300" height="168" url="/uploads/2012/02/WoWScrnShot_020912_215828.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020912_215828-300x168.jpg" %}
<p>My bad. I dished out loot before we sorted the screenshot of the chest out, so here&#8217;s a generic lootship pose shot of us after finishing loot.</p>
{% include frameimage.html index=362 caption="Ultra Pose" alt="Ultraxion Heroic Pose Shot" width="300" height="168" url="/uploads/2012/02/WoWScrnShot_020912_220154.jpg" previewurl="/uploads/2012/02/WoWScrnShot_020912_220154-300x168.jpg" %}
<p>&nbsp;</p>
