---
index:  489
title:  "Heroic Gara&#8217;jal the Spiritbinder is Down!"
author: Sleuth
date:   2012-10-21 02:30:29
categories: [Guild, News]
tags:   [gara'jal the spiritbinder, heroic, kill shot, mogu'shan vaults, progression]
---
<p>We pooled every last bit of effort tonight to push the hardest we can at getting <a href="http://www.wowhead.com/npc=60143">Gara&#8217;jal the Spiritbinder</a> down; he&#8217;s a real challenge and seems to have a lot of RNG based problems. We gave ourselves a 20 second lead by swapping to the higher enchants, which I recommend every guild do to save yourselves some time! It was a very long process but we have it done, and we can now settle back down into learning the next fight.</p>
<p>This boss shall henceforth be known as &#8220;The Twat&#8221;.</p>
{% include frameimage.html index=490 caption="Enough trolling us, k?" alt="Heroic Gara'jal the Spiritbinder Kill Shot" width="300" height="168" url="/uploads/2012/10/WoWScrnShot_102112_014522.jpg" previewurl="/uploads/2012/10/WoWScrnShot_102112_014522-300x168.jpg" %}
{% include frameimage.html index=491 caption="Yea Mon!" alt="Heroic Gara'jal the Spiritbinder Pose Shot" width="300" height="168" url="/uploads/2012/10/WoWScrnShot_102112_014712.jpg" previewurl="/uploads/2012/10/WoWScrnShot_102112_014712-300x168.jpg" %}
<p>Very well done to all those who contributed to this kill. A brilliant achievement, dedicated to those who helped us <em>discover</em> how it&#8217;s done properly <img src="http://www.profoundguild.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
