---
index:  321
title:  "Morchok Heroic Down"
author: Sleuth
date:   2012-01-05 09:36:48
categories: [Guild, News]
tags:   [achievement, dragon soul, heroic, kill shot, morchok, progression]
---
<p>We&#8217;re back from Christmas break, and ready to focus our efforts on the upcoming challenges: heroic modes.</p>
<p>We attempted Morchok Heroic way-back last year in the week before we stopped raiding, and it seemed obvious we (more specifically, I) hadn&#8217;t done enough preparation and it didn&#8217;t go too well. So we gave up and cleared Deathwing for the <em>lootz</em>.</p>
<p>So here&#8217;s the new year, and first on the list is already scratched out.</p>
{% include frameimage.html index=322 caption="Derettahs" alt="Morchok Heroic Kill Shot" url="/uploads/2012/01/WoWScrnShot_010412_223816.jpg" previewurl="/uploads/2012/01/WoWScrnShot_010412_223816-300x168.jpg" %}
<p>We&#8217;ll probably try Yor&#8217;sahj next, but I think Zon&#8217;ozz is worth more in the pointz so it&#8217;s up for consideration. Anyway, we like to gloat so here&#8217;s a pose:</p>
{% include frameimage.html index=323 caption="Super Happy Raiding Club" alt="Morchok Heroic Pose Shot" url="/uploads/2012/01/WoWScrnShot_010412_224039.jpg" previewurl="/uploads/2012/01/WoWScrnShot_010412_224039-300x168.jpg" %}
