---
index:  472
title:  "Normal Mogu&#8217;shan Vaults Cleared"
author: Sleuth
date:   2012-10-06 23:58:08
categories: [Guild, News]
tags:   [kill shot, mogu'shan vaults, progression]
---
<p>We paced ourselves through Mogu&#8217;shan Vaults this week and found it slightly more difficult than we expected on 25 man, and had to drop down to 10 man after a few attempts on <a href="http://www.wowhead.com/npc=60009">Feng the Accursed</a>.</p>
<p>We got the final boss after only wiping on the 5th try, where we said we would be working on the tanks avoiding the cleaves and dancing (yeah!) to get it right for the next time. Unfortunately I turned off the combat logging and I think we missed out on some great world rankings, as you can see from the Recount snapshot.</p>
{% include frameimagesimple.html index=473 alt="Will of the Emperor" url="/uploads/2012/10/WoWScrnShot_100612_211947.jpg" previewurl="/uploads/2012/10/WoWScrnShot_100612_211947-300x168.jpg" width=300 height=168 %}
<p>Overall, normal mode was pretty easy. I think we wasted too much time trying it on 25 man to start with, but it was fun while it lasted and we&#8217;ll see how that goes in the future.</p>
<p>Customary pose shot!</p>
{% include frameimagesimple.html index=476 alt="Will of the Emperor Pose Shot" url="/uploads/2012/10/WoWScrnShot_100612_212400.jpg" previewurl="/uploads/2012/10/WoWScrnShot_100612_212400-300x168.jpg" width=300 height=168 %}
<p>On to heroics, and some decent ranks!</p>
