---
index:  617
title:  "Heroic: Iron Qon, Twins and Council"
author: Sleuth
date:   2013-07-24 21:59:13
categories: [Guild, News]
tags:   [council of elders, heroic, iron qon, kill shot, progression, throne of thunder, twin consorts]
---
<p>We&#8217;re killing bosses quicker than I can find the time to post about them. Here&#8217;s some screenshots.</p>
{% include frameimage.html index=620 caption="Iron Gone" alt="Heroic Iron Qon Kill Shot" url="/uploads/2013/07/WoWScrnShot_071713_213750.jpg" previewurl="/uploads/2013/07/WoWScrnShot_071713_213750-300x168.jpg" %}
{% include frameimage.html index=621 caption="Brothel Raided, Consorts Faded" alt="Heroic Twin Consorts Kill Shot" url="/uploads/2013/07/WoWScrnShot_072113_211255.jpg" previewurl="/uploads/2013/07/WoWScrnShot_072113_211255-300x168.jpg" %}
{% include frameimage.html index=622 caption="One tank fight, yo." alt="Heroic Twin Consorts Pose Shot" url="/uploads/2013/07/WoWScrnShot_072113_211400.jpg" previewurl="/uploads/2013/07/WoWScrnShot_072113_211400-300x168.jpg" %}
{% include frameimage.html index=619 caption="Council adjourned" alt="Council of Elders Heroic Kill Shot" url="/uploads/2013/07/WoWScrnShot_072413_202713.jpg" previewurl="/uploads/2013/07/WoWScrnShot_072413_202713-300x168.jpg" %}
<p>Council took 2 attempts. Yea&#8230;</p>
