---
layout: post
index:  702
title:  "Heroic: Thok the Bloodthirsty"
author: Sleuth
date:   2013-11-24 23:21
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, pose shot, progression, siege of orgrimmar, thok the bloodthirsty]
---
<p>We killed Thok the Bloodthirsty tonight on our 24th attempt. We thought it would be harder than Spoils of Orgrimmar, but it’s definitely not. With enough planning and preparation, I expect it is a pushover for most guilds.</p>
{% include frameimage.html index=704 caption="Clever Girl" alt="Heroic Thok Kill Shot" url="/uploads/2013/11/WoWScrnShot_112413_220707.jpg" previewurl="/uploads/2013/11/WoWScrnShot_112413_220707-300x168.jpg" %}
<p>On this kill it felt like it was about time to strike a pose for a screenshot. Well done everybody!</p>
{% include frameimage.html index=705 caption="We spared no expense" alt="Heroic Thok Pose Shot" url="/uploads/2013/11/WoWScrnShot_112413_220922.jpg" previewurl="/uploads/2013/11/WoWScrnShot_112413_220922-300x168.jpg" %}