---
index:  649
title:  "Heroic: Ra-den, Tier 15 Complete"
author: Sleuth
date:   2013-09-10 23:14:17
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, progression, ra-den, realm first, throne of thunder, tier 15]
---
<p>We added an extra day to our schedule this week to make use of the final day we had available to practise and kill Ra-den. Even though we barely knew anything about him, we got him down after 10 attempts! We really thought he might be harder than that but it turns out he wasn&#8217;t anywhere near that.</p>
{% include frameimage.html index=650 caption="Who let you out of those chains?" alt="Heroic Ra-den Kill Shot" url="/uploads/2013/09/WoWScrnShot_091013_203111.jpg" previewurl="/uploads/2013/09/WoWScrnShot_091013_203111-300x168.jpg" %}
{% include frameimage.html index=651 caption="Ra-done." alt="Heroic Ra-den Pose Shot" url="/uploads/2013/09/WoWScrnShot_091013_203550.jpg" previewurl="/uploads/2013/09/WoWScrnShot_091013_203550-300x168.jpg" %}
<p><img class="aligncenter size-full wp-image-659" alt="Realm First! Ra-den" src="{{ "/uploads/2013/09/Ra-den_Achievement.png" | prepend: site.baseurl }}" width="490" height="107" /></p>
<p>Let&#8217;s kick some Garrosh butt!</p>
