---
index:  628
title:  "Heroic: Durumu, Primordius and Magaera"
author: Sleuth
date:   2013-08-10 22:53:43
categories: [Guild, News]
tags:   [achievement, durumu, heroic, kill shot, magaera, primordius, progression, throne of thunder]
---
<p>We got through two new heroic bosses in a single day; Durumu and Primordius. I&#8217;m mightily impressed with how well we&#8217;re able to execute tactics and the way we&#8217;re able to adapt and progress quickly. The following Wednesday we killed Magaera after only a few tries, then unfortunately had to clear up without progress on Dark Animus in that week.</p>
{% include frameimage.html index=629 caption="Gone but Not Forgotten" alt="Heroic Durumu the Forgotten Kill Shot" url="/uploads/2013/08/WoWScrnShot_072813_192155.jpg" previewurl="/uploads/2013/08/WoWScrnShot_072813_192155-300x168.jpg" %}
{% include frameimage.html index=630 caption="Sleepy Eye" alt="Heroic Durumu the Forgotten Pose Shot" url="/uploads/2013/08/WoWScrnShot_072813_192332.jpg" previewurl="/uploads/2013/08/WoWScrnShot_072813_192332-300x168.jpg" %}
{% include frameimage.html index=631 caption="Blood, Everywhere!" alt="Heroic Primordius Kill Shot" url="/uploads/2013/08/WoWScrnShot_072813_195040.jpg" previewurl="/uploads/2013/08/WoWScrnShot_072813_195040-300x168.jpg" %}
{% include frameimage.html index=632 caption="Not So Precious Now" alt="Heroic Primordius Pose Shot" url="/uploads/2013/08/WoWScrnShot_072813_195203.jpg" previewurl="/uploads/2013/08/WoWScrnShot_072813_195203-300x168.jpg" %}
{% include frameimage.html index=633 caption="Get Me an Aspirin!" alt="Heroic Magaera Kill Shot" url="/uploads/2013/08/WoWScrnShot_073113_205443.jpg" previewurl="/uploads/2013/08/WoWScrnShot_073113_205443-300x168.jpg" %}
<p>&nbsp;</p>
{% include frameimage.html index=634 caption="Gotta Have a Cool Head" alt="Heroic Magaera Pose Shot" url="/uploads/2013/08/WoWScrnShot_073113_205639.jpg" previewurl="/uploads/2013/08/WoWScrnShot_073113_205639-300x168.jpg" %}
<p>&nbsp;</p>
<p>Oh and yes, I have posted this super late. I&#8217;m bad, OK? Sorry! Oh and as of posting this, we are rank 3 on the realm for progression (behind 2 inactive guilds) and we occupy 7 of the 8 highest geared characters on the realm slots. We&#8217;re doing well!</p>
