---
index:  643
title:  "Heroic: Lei Shen"
author: Sleuth
date:   2013-09-08 22:01:31
categories: [Guild, News]
tags:   [heroic, kill shot, lei shen, progression, throne of thunder]
---
{% include frameimage.html index=644 caption="Lei Die" alt="Heroic Lei Shen Kill Shot" url="/uploads/2013/09/WoWScrnShot_090813_213208.jpg" previewurl="/uploads/2013/09/WoWScrnShot_090813_213208-300x168.jpg" %}
<p>Thanks to everybody who contributed this tier to our greatest achievement so far on Jaedenar: <strong>Heroic Lei Shen Realm First!</strong></p>
<p>With a 10%, 6%, 4% then 0% wipe, our patience was tried and tested on this boss. Eventually one of our dirtiest attempts ended up netting us the final kill &#8211; who would have thought?</p>
{% include frameimage.html index=645 caption="If you&#8217;re AFK, you miss the kill shot&#8230; mmmk?" alt="Heroic Lei Shen Pose Shot" url="/uploads/2013/09/WoWScrnShot_090813_214023.jpg" previewurl="/uploads/2013/09/WoWScrnShot_090813_214023-300x168.jpg" %}
