---
index:  697
title:  "Heroic: Malkorok and Spoils Of Pandaria"
author: Sleuth
date:   2013-11-18 19:57
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, progression, siege of orgrimmar]
---
<p>We killed Malkorok a few weeks ago. Pretty simple in relfection, other than the odd random issue with absorbing pools.</p>
{% include frameimage.html index=698 caption="Rok-hard" alt="Heroic Malkorok Kill Shot" url="/uploads/2013/11/WoWScrnShot_102813_201647.jpg" previewurl="/uploads/2013/11/WoWScrnShot_102813_201647-300x168.jpg" %}
<p>Yesterday we finally worked out how to do Spoils effectively. Let me just note that this type of fight, where you are basically running two 5 man groups, is not fun as a 10 man group. It divides people and causes no-end of arguments, with little in the way of evidence for either side to analyse and help each other. Shame on you, Blizzard.</p>
{% include frameimage.html index=699 caption="Spoiled Raid" alt="Heroic Spoils of Pandaria Kill Shot" url="/uploads/2013/11/WoWScrnShot_111713_200025.jpg" previewurl="/uploads/2013/11/WoWScrnShot_111713_200025-300x168.jpg" %}
<p>Thok next; we discovered we have a setup which makes him near impossible at this time. Great!</p>