---
index:  664
title:  "Siege of Orgrimmar Cleared"
author: Sleuth
date:   2013-09-24 21:25:48
categories: [Guild, News]
tags:   [achievement, garrosh, kill shot, progress, siege of orgrimmar]
---
<p>We added another day this week to ensure we killed Garrosh and unlock heroic modes next lockout. He looks like a fun fight and we can&#8217;t wait to get there on heroic mode!</p>
{% include frameimage.html index=666 caption="Hell yeah!" alt="Garrosh Kill Shot" url="/uploads/2013/09/WoWScrnShot_092413_202945.jpg" previewurl="/uploads/2013/09/WoWScrnShot_092413_202945-300x168.jpg" %}
{% include frameimage.html index=667 caption="Sha&#8217;me on you" alt="Garrosh Post Shot" url="/uploads/2013/09/WoWScrnShot_092413_203715.jpg" previewurl="/uploads/2013/09/WoWScrnShot_092413_203715-300x168.jpg" %}
<p>&nbsp;</p>
