---
index:  709
title:  "Heroic: Siegecrafter Blackfuse"
author: Sleuth
date:   2014-02-02 23:22
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, progression, siege of orgrimmar, siegecrafter]
---
<p>We pulled out all the stops tonight for a kill on Siegecrafter. We only really have one thing to say: fuck that guy.</p>
{% include frameimage.html index=710 caption="Shutting Down" alt="Heroic Siegecrafter Blackfuse Kill Shot" url="/uploads/2014/02/WoWScrnShot_020214_223907.jpg" previewurl="/uploads/2014/02/WoWScrnShot_020214_223907-300x168.jpg" %}
{% include frameimage.html index=711 caption="Crafty Fucker" alt="Heroic Siegecrafter Blackfuse Pose Shot" url="/uploads/2014/02/WoWScrnShot_020214_224038.jpg" previewurl="/uploads/2014/02/WoWScrnShot_020214_224038-300x168.jpg" %}
<p>We’re looking forward to repeating that. Ya.</p>