---
layout: post
index:  717
title:  "Heroic Paragons of the Klaxxi"
author: Sleuth
date:   2014-03-08 14:02
categories: [Guild, News]
tags:   [achievement, heroic, kill shot, klaxxi, progression, siege of orgrimmar]
---
<p>
  We killed the <a href="http://www.wowhead.com/npc=71161" target="_blank">Paragons of the Klaxxi</a> this lockout.
  We got it on our <em>101st</em> pull with a slightly <a title="Paragons of the Klaxxi Kill Log" href="http://www.warcraftlogs.com/reports/zrLpWAJ1DaK2tkN9" target="_blank">safer than expected kill time</a>.
</p>
{% include frameimage.html index=718 caption="Bugged-out" alt="Heroic Paragons Kill Shot" url="/uploads/2014/03/WoWScrnShot_030514_214225.jpg" previewurl="/uploads/2014/03/WoWScrnShot_030514_214225-300x168.jpg" %}
<p>
  Only one more boss left to go before we’re done with this expansion: <a href="http://www.wowhead.com/npc=71865" target="_blank">Heroic Garrosh Hellscream</a>.
</p>
{% include frameimage.html index=719 caption="Raid®-ed" alt="Heroic Paragons Pose Shot" url="/uploads/2014/03/WoWScrnShot_030514_214500.jpg" previewurl="/uploads/2014/03/WoWScrnShot_030514_214500-300x168.jpg" %}